@page "/create-user"
@using RiskTrackSCF_UserCreatorWeb.Services
@inject ApiService Api
@using RiskTrackSCF_UserCreatorWeb.Models

<h3>Create User</h3>

<input @bind="user.Username" placeholder="Username" />
<input @bind="user.Email" placeholder="Email" />
<input @bind="user.Password" placeholder="Password" type="password" />
<input @bind="user.Role" placeholder="Role" />
<input @bind="user.CompanyId" placeholder="Company ID" type="number" />

<button @onclick="Create">Create User</button>

@code {
    private User user = new();

    private async Task Create()
    {
        await Api.CreateUserAsync(user);
        user = new(); 
    }
}
